*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transition: 1s;
}

.main{
    height:100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    width: 15rem;
    height: 5rem;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;

}
button{
    margin-top: 5px;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
}